header {
  display: flex;
  justify-content: space-around;
}

.links {
  list-style-type: none;
  text-align: center;
}

.links li {
  float: left;
  list-style: none;
  padding-right: 40px;
}

.links li a {
  text-decoration: none;
}
