header {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

header a{
  list-style: none;
  text-decoration: none;
}
header div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  list-style-type: none;
  text-align: center;
}

.links li {
  float: left;
  list-style: none;
  padding-left: 40px;
}

.links li a {
  text-decoration: none;
}

.Log-in a{
  padding-right: 20px;
}
#main-heading{
  background-image: url('pink-background-img.jpg');
  background-size: auto;
}
